<section class="vh-100 back-ground">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Resend confirmation instructions</h3>
            <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="form-outline mb-4">
                <%= f.label :email, class: "form-label"%><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class:"form-control form-control-lg" %>
              </div>
              <%= f.submit "Resend confirmation instructions", class: "btn btn-primary btn-lg btn-block" %>
            <%end%>
            <%= link_to "Back", new_user_session_path %><br>
          </div>
        </div>
      <div>
    </div>
  </div>
</section>
