<%= form_with url: user_path(current_user), method: :put do |f| %>
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <%= f.label :first_name , "First Name: "%>
        <%= f.text_field :first_name, value: current_user.first_name, class: "form-control", required: true %><br>
      </div>  
    </div>
    <div class="col-4">
      <div class="form-group">
        <%= f.label :last_name , "Last Name: "%>
        <%= f.text_field :last_name, value: current_user.last_name, class: "form-control", required: true, step: :any %><br>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <%= f.label :company_name , "Company Name :" %>
        <%= f.text_field :company_name, value: current_user.company_name, class: "form-control", required: true %><br>
      </div>  
    </div>  
  </div> 
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <%= f.label :state , "State :" %>
        <%= f.select :state, options_for_select([]) ,{}, {value: current_user.state, class: "form-control", id: "customer_state_dropdown_checkout"} %>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <%= f.label :address , "Address :" %>
        <%= f.text_field :address, value: current_user.address, class: "form-control", required: true %><br>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <%= f.label :phone , "Phone :" %>
        <%= f.text_field :phone, value: current_user.phone, class: "form-control", required: true %><br>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <%= f.label :extension , "Extension :" %>
        <%= f.text_field :extension, value: current_user.extension, class: "form-control", required: true %><br>
      </div>  
    </div>
    <div class="col-4">
      <div class="form-group">
        <%= f.label :city , "City :" %>
        <%= f.select :city, options_for_select([]) ,{}, {value: current_user.city, class: "form-control", id: "customer_city_dropdown_checkout"} %>
      </div> 
    </div>
    <div class="col-4">
      <div class="form-group">
        <%= f.label :zip_code , "Zip Code :" %>
        <%= f.text_field :zip_code, value: current_user.zip_code, class: "form-control", required: true %><br>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="form-group customer_country_dropdown">
        <%= f.label :country , "Country :" %>
        <%= f.select :country, options_for_select(CS.countries.map { |c| [c[1], c[0]] } )  ,{}, {value: current_user.city, class: "form-control", id: "country_select_dropdown_checkout", required: true} %><br>
      </div>
    </div>
  </div>
  <%= f.submit 'continue',class: "btn btn-primary mb-5", id: "submit_btn_cust_info_update" %>    
<% end %>
