<section id="show-user-background">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">First Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= current_user.first_name %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Last Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= current_user.last_name %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= current_user.email %></p>
              </div>
            </div>
            <hr>
            <%= link_to 'Back', admin_users_path, class: "btn btn-primary"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% if @orders.any? %>
  <center><h2>All orders Placed</h2></center>
  <section>
    <%= render partial: 'orders_table', resource: @orders %>
  </section>
<% end %>
