<div class="product-module">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID
          <%= link_to sort: :id, order: sorting_method("id"), remote: true  do %>
            <i class="fas fa-sort"></i>
          <%end%>
        </th>
        <th scope="col">Title
          <%= link_to sort: :title, order: sorting_method("title"), remote: true  do %>
            <i class="fas fa-sort"></i>
          <%end%>
        </th>
        <th scope="col">Price
          <%= link_to sort: :price, order: sorting_method("price"), remote: true  do %>
            <i class="fas fa-sort"></i>
          <%end%>
        </th>
        <th scope="col">Status
          <%= link_to sort: :status, order: sorting_method("status"), remote: true  do %>
            <i class="fas fa-sort"></i>
          <%end%>
        </th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'products', collection: @products %>
    </tbody>
  </table>  
  <p><%= link_to("Generate Report", admin_products_path(format: :csv), class: "btn btn-primary") %></p>
  <%= pagy_bootstrap_nav(@pagy).html_safe %>
</div>
