<tr id="user_<%= users.id %>">
  <td><%= users.id %></td>
  <td><%= users.first_name %></td>
  <td><%= users.last_name %></td>
  <td><%= users.email %></td>
  <td>
    <%= link_to "Show", admin_user_path(users), class: "btn btn-primary" %>
    <%= link_to "Delete", admin_user_path(users), method: :delete, data: {confirm: "Are you sure?", remote: true }, class: "btn btn-danger" %>
    <%= link_to "Edit", admin_user_path(users), method: :delete, data: {confirm: "Are you sure?", remote: true }, class: "btn btn-primary" %>
  </td>
</tr>
