<tr id="user_<%= users.id %>">
  <td><%= users.id %></td>
  <td><%= users.first_name %></td>
  <td><%= users.last_name %></td>
  <td><%= users.email %></td>
  <td>
    <%= link_to "Show", admin_user_path(users), class: "btn btn-primary"  %>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal_<%= users.id %>"> Delete </button>
    <%= link_to "Edit", edit_admin_user_path(users), class: "btn btn-primary" %>
  </td>
</tr>

<div class="modal" id="modal_<%= users.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete User Request</h4>
        <button type="button" class="btn-close" id="modal_close_btn_<%= users.id %>" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        Are you sure? You want to delete this user
      </div>
      <div class="modal-footer">
        <%= link_to "Yes", admin_user_path(users), method: :delete, class: "btn btn-danger", data: { bs_dismiss: :modal }, remote: true %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
