<%= form_for [:admin, @coupon] do |f| %>
  <div class="form-group">
    <%= f.label :name , "Coupon Code: "%>
    <%= f.text_field :name, class: "form-control", required: true %><br>
  </div>
  <div class="form-group">
    <%= f.label :discount , "Discount: "%>
    <%= f.number_field :discount, class: "form-control", required: true, step: :any %><br>
  </div> 
  <div class="form-group">
    <%= f.label :discount , "Select Products: ", class: "mb-2"%>
    <%= f.select :product_ids, coupon_options ,{}, class: "form-control dropdown_select2", multiple: true %>
  </div>
  <%= f.submit class: "btn btn-primary mt-4" %>    
<% end %>
